body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.mobile-container {
    max-width: 100vw;
    min-height: 100vh;
    color: white;
}

.active {
    background-color: #0B414F;
    color: white;
}

.text {
    font-size: 20px;
    text-align: center;
    color: #333333;
}

.photos {
    max-width: 1000px;
    width: 100%;
}

.photos img {
    transition: box-shadow 250ms;
}

.photos img:hover {
    box-shadow: 10px 10px 10px gray;
    transition: box-shadow 250ms;
}

.container {
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1024px) {

    .car {
        margin: 25px 0;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
        width: 100%;
    }


    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
    }

    .topnav #myLinks {
        display: none;
    }

    .topnav a.burger-icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
    }

    .container {
        text-align: center;
    }

}

@media screen and (min-width: 1024px) {

    .car {
        margin: 50px 100px;
    }
    .burger-icon {
        display: none;
    }
    .mobileNav {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 17px;
        background-color: #0B414F;
        width: 100%;
        padding: 14px 16px;
        text-align: right;
    }
    .mobileNav a {
        text-decoration: none;
        color: white;
        padding: 15px;
    }
    .active {
        font-size: 17px;
        text-decoration: none;
    }
    .topnav {
        display: flex;
        width: 100%;
    }

    .topnav a {
        padding: 14px 16px;
    }
}
